footer {
  background-color: black;
  color: white;
  font-size: var(--body-font-size-xs);
}

.footer-content {
  max-width: 1200px;
  margin: auto 24px;
  padding: 40px 0 24px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-top h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.footer-top nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer-top nav ul li {
  font-size: 14px;
}

.footer-social a {
  background-color: lightgrey;
  padding: 5px;
  text-decoration: none;
}

.footer-bottom a {
  color: white;
}

.footer-top nav ul li a {
  color: white;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: lightgray;
}

.footer-top nav ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-bottom {
  padding-top: 20px;
}

.footer-bottom p {
  margin: 10px 0;
}

.footer-social span {
  font-weight: bold;
  margin-right: 10px;
}

.footer-social a img {
  width: 24px;
  height: 24px;
}

@media (width >=900px) {
  .footer-content {
    margin: auto 32px;
    padding: 40px 0 24px;
  }
}